version: '3.9'

services:
  web: 
    build: 
      context: .
      dockerfile: Dockerfile 
    ports:
      - "8000:8000"
    env_file:
      - ./core/.env
    #command: gunicorn core.wsgi:application --bind 0.0.0.0:8000 --workers 3